In [1]:
import pandas as pd
import numpy as np

In [25]:
Df = pd.read_csv("Fuel_Consumption.csv - Fuel_Consumption.csv.csv")
Df

      MODELYEAR       MODEL  ... FUELCONSUMPTION_COMB_MPG  CO2EMISSIONS
0          2014         ILX  ...                       33           196
1          2014         ILX  ...                       29           221
2          2014  ILX HYBRID  ...                       48           136
3          2014     MDX 4WD  ...                       25           255
4          2014     RDX AWD  ...                       27           244
...         ...         ...  ...                      ...           ...
1062       2014    XC60 AWD  ...                       24           271
1063       2014    XC60 AWD  ...                       25           264
1064       2014    XC70 AWD  ...                       24           271
1065       2014    XC70 AWD  ...                       25           260
1066       2014    XC90 AWD  ...                       22           294

[1067 rows x 12 columns]

In [26]:
Df.describe()

       MODELYEAR   ENGINESIZE  ...  FUELCONSUMPTION_COMB_MPG  CO2EMISSIONS
count     1067.0  1067.000000  ...               1067.000000   1067.000000
mean      2014.0     3.346298  ...                 26.441425    256.228679
std          0.0     1.415895  ...                  7.468702     63.372304
min       2014.0     1.000000  ...                 11.000000    108.000000
25%       2014.0     2.000000  ...                 21.000000    207.000000
50%       2014.0     3.400000  ...                 26.000000    251.000000
75%       2014.0     4.300000  ...                 31.000000    294.000000
max       2014.0     8.400000  ...                 60.000000    488.000000

[8 rows x 8 columns]

In [27]:
from sklearn.preprocessing import OneHotEncoder
c = OneHotEncoder(handle_unknown='ignore')
c_df = pd.DataFrame(enc.fit_transform(data[['VEHICLECLASS']]).toarray())
c_df

       0    1    2    3    4    5    6   ...   9    10   11   12   13   14   15
0     1.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1     1.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2     1.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3     0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  1.0  0.0  0.0  0.0  0.0
4     0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  1.0  0.0  0.0  0.0  0.0
...   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
1062  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  1.0  0.0  0.0  0.0  0.0
1063  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  1.0  0.0  0.0  0.0  0.0
1064  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  1.0  0.0  0.0  0.0  0.0
1065  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  1.0  0.0  0.0  0.0  0.0
1066  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  1.0  0.0  0.0  0.0

[1067 rows x 16 columns]

In [28]:
from sklearn.cluster import KMeans
X = data.drop(columns="MODEL")
X = data.drop(columns="TRANSMISSION")
kmean5 = KMeans(n_clusters=5)

In [22]:
Error =[]  #create a list
for i in range(1, 11):
    kmeans = KMeans(n_clusters = i)
    kmeans.fit(X)
    Error.append(kmeans.in, ertia_)

SyntaxError: ignored